/* style.css o index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";

.whatsapp-float {
  /* 💡 Posición fija y z-index alto para que esté sobre todo */
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Transición suave para el hover */

  /* 💡 Icono de fondo (Asume que Whatsapp.png está en la carpeta /public) */
  background-image: url("/Whatsapp.png");
  background-size: 35px 35px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
}

.whatsapp-float:hover {
  background-color: #1da851;
}

@media (max-width: 768px) {
  .whatsapp-float {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-size: 30px 30px;
  }
}
